
  #texture {
  width: 120vh;
  height: auto;
  margin: 4em;
  margin-top: 5em;
}

#title {
font-family: 'Homemade Apple', cursive;
  color: #fff;
  font-size: 4em;
  position: absolute;
  top: 4em;
  left: 4.5em;
}

#subtitle {
  font-family: 'Inconsolata', monospace;
  color: #fff;
  position: absolute;
  top: 12.5em;
  left: 16em;
}


.dot {
  width: 5em;
  height: 5em;
  padding-left: 2em;
}

.flower-dot {
  width: 5em;
  height: 5em;
  padding-left: 2em;
}